<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5>View Requests</h5>
    </div>
    <div class="card-block">
      <div class="">
          <kendo-grid [data]="ProductList">
            <kendo-grid-column field="name" title="Name">
            </kendo-grid-column>
            <kendo-grid-column field="mobile" title="Mobile">
            </kendo-grid-column>
            <kendo-grid-column field="rationno" title="Ration No">
            </kendo-grid-column>
            <kendo-grid-column field="appointment" title="Date" format="{0: dd-MMM-yyyy}">
            </kendo-grid-column>
            <kendo-grid-column field="time" title="Time" format="{0: hh:mm a}">
            </kendo-grid-column>
            <kendo-grid-column field="kerosene" title="Kerosene(kg)">
            </kendo-grid-column>
            <kendo-grid-column field="sugar" title="Sugar(kg)">
            </kendo-grid-column>
            <kendo-grid-column field="rice" title="Rice(kg)">
            </kendo-grid-column>
            <kendo-grid-command-column title="Action" width="220">
              <ng-template kendoGridCellTemplate let-dataItem>
                <button (click)="Accept(dataItem)" class="btn btn-sm btn-primary">Accept</button>
                <button (click)="Reject(dataItem)" class="btn btn-sm btn-danger">Reject</button>
              </ng-template>
            </kendo-grid-command-column>
          </kendo-grid>
       
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Enter OTP</label>
        <input type="text" #opt name="otp" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="OtpSubmit(opt)">Submit</button>
      </div>
    </div>
  </div>
</div>