

<body data-spy="scroll" data-target="#Main-Nav" data-offset="0" class="scrollspy-example">

  <section class="home-banner">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-fluid">

          <a class="navbar-brand" href="#">e.ration.</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Main-Nav" aria-controls="Main-Nav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="Main-Nav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#home">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#how-we-do">How we do</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#items">Items</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#features">Features</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/login']" class="btn btn-success btn-md">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="section-copy">
        <div class="caption">
          <p>Making food items reachable to poors </p>
          <h1>Securing Ration Centers</h1>

        </div>
        <a href="#what-we-do" class="btn page-scroll mouse-btn">
          <img src="assets/images/mouse-outline.svg">
        </a>
      </div>
    </div>
  </section>


  <section class="what-we-do" id="how-we-do" data-aos="fade-up">
    <div class="container">

      <div class="section-title">
        <p>Why e.ration.</p>
        <h3>Digital Ration Service</h3>
      </div>

      <div class="row">
        <div class="col-sm-4" data-aos="fade-down" data-aos-duration="1000">
          <i class="icon-screen-smartphone icons"></i>
          <h5>Smart Ration</h5>
          <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est, qui dolorem ipsum quiaolor
            sit amet.</p>
        </div>
        <div class="col-sm-4" data-aos="fade-down" data-aos-duration="1000">
          <i class="icon-briefcase"></i>
          <h5>No Waiting</h5>
          <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est, qui dolorem ipsum quiaolor
            sit amet.</p>
        </div>
        <div class="col-sm-4" data-aos="fade-down" data-aos-duration="1000">
          <i class="icon-badge"></i>
          <h5>Guinnune Items</h5>
          <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est, qui dolorem ipsum quiaolor
            sit amet.</p>
        </div>
      </div>

    </div>
  </section>


  <section class="courses" id="items" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">

      <div class="section-title">
        <p>Fresh item from the farm</p>
        <h3>Ration Items</h3>

      </div>

      <div class="owl-carousel courses-carousel">

        <div class="card">
          <img class="card-img-top" src="assets/images/rice.jpg" alt="">
          <div class="card-block">
            <span class="course-badge">White Rice</span>
            <h5 class="card-title">From North Indian farms.</h5>
            <hr>
            <p class="card-text date badge badge-success">Available</p>
            <p class="card-text price">&#8377; 20/kg</p>
          </div>
          <div class="card-overlay">
            <h5 class="card-title">Lorem Ipsum Doler Salet Ilett</h5>
            <p class="card-text"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
            <a href="#" class="btn btn-success">Order</a>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="assets/images/cereal.jpg" alt="">
          <div class="card-block">
            <span class="course-badge">Golden Wheat</span>
            <h5 class="card-title">From North Indian farms.</h5>
            <hr>
            <p class="card-text date badge badge-success">Available</p>
            <p class="card-text price">&#8377; 15/kg</p>
          </div>
          <div class="card-overlay">
            <h5 class="card-title">Lorem Ipsum Doler Salet Ilett</h5>
            <p class="card-text"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
            <a href="#" class="btn btn-success">Order</a>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="/assets/images/ragi.jpg" alt="">
          <div class="card-block">
            <span class="course-badge">Ragi</span>
            <h5 class="card-title">From South Indian farms.</h5>
            <hr>
            <p class="card-text date badge badge-success">Available</p>
            <p class="card-text price">&#8377; 520/kg</p>
          </div>
          <div class="card-overlay">
            <h5 class="card-title">Lorem Ipsum Doler Salet Ilett</h5>
            <p class="card-text"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
            <a href="#" class="btn btn-success">Order</a>
          </div>
        </div>


        <div class="card">
          <img class="card-img-top" src="/assets/images/rice.jpg" alt="">
          <div class="card-block">
            <span class="course-badge">White Rice</span>
            <h5 class="card-title">From North Indian farms.</h5>
            <hr>
            <p class="card-text date badge badge-success">Available</p>
            <p class="card-text price">&#8377; 20/kg</p>
          </div>
          <div class="card-overlay">
            <h5 class="card-title">Lorem Ipsum Doler Salet Ilett</h5>
            <p class="card-text"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
            <a href="#" class="btn btn-success">Order</a>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="/assets/images/cereal.jpg" alt="">
          <div class="card-block">
            <span class="course-badge">Golden Wheat</span>
            <h5 class="card-title">From North Indian farms.</h5>
            <hr>
            <p class="card-text date badge badge-success">Available</p>
            <p class="card-text price">&#8377; 15/kg</p>
          </div>
          <div class="card-overlay">
            <h5 class="card-title">Lorem Ipsum Doler Salet Ilett</h5>
            <p class="card-text"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
            <a href="#" class="btn btn-success">Order</a>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="/assets/images/ragi.jpg" alt="">
          <div class="card-block">
            <span class="course-badge">Ragi</span>
            <h5 class="card-title">From South Indian farms.</h5>
            <hr>
            <p class="card-text date badge badge-success">Available</p>
            <p class="card-text price">&#8377; 520/kg</p>
          </div>
          <div class="card-overlay">
            <h5 class="card-title">Lorem Ipsum Doler Salet Ilett</h5>
            <p class="card-text"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
            <a href="#" class="btn btn-success">Order</a>
          </div>
        </div>


        <div class="card">
          <img class="card-img-top" src="/assets/images/rice.jpg" alt="">
          <div class="card-block">
            <span class="course-badge">White Rice</span>
            <h5 class="card-title">From North Indian farms.</h5>
            <hr>
            <p class="card-text date badge badge-success">Available</p>
            <p class="card-text price">&#8377; 20/kg</p>
          </div>
          <div class="card-overlay">
            <h5 class="card-title">Lorem Ipsum Doler Salet Ilett</h5>
            <p class="card-text"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
            <a href="#" class="btn btn-success">Order</a>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="/assets/images/cereal.jpg" alt="">
          <div class="card-block">
            <span class="course-badge">Golden Wheat</span>
            <h5 class="card-title">From North Indian farms.</h5>
            <hr>
            <p class="card-text date badge badge-success">Available</p>
            <p class="card-text price">&#8377; 15/kg</p>
          </div>
          <div class="card-overlay">
            <h5 class="card-title">Lorem Ipsum Doler Salet Ilett</h5>
            <p class="card-text"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
            <a href="#" class="btn btn-success">Order</a>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="/assets/images/ragi.jpg" alt="">
          <div class="card-block">
            <span class="course-badge">Ragi</span>
            <h5 class="card-title">From South Indian farms.</h5>
            <hr>
            <p class="card-text date badge badge-success">Available</p>
            <p class="card-text price">&#8377; 520/kg</p>
          </div>
          <div class="card-overlay">
            <h5 class="card-title">Lorem Ipsum Doler Salet Ilett</h5>
            <p class="card-text"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
            <a href="#" class="btn btn-success">Order</a>
          </div>
        </div>
      </div>
      </div>
  </section>


  <section class="features" id="features" data-aos="fade-up" data-aos-duration="1000">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <img src="/assets/images/banner2.jpg" class="img-fluid img-fw" />
        </div>
        <div class="col-md-6">
          <div class="wrap">
            <div class="section-title text-left">
              <h3>About e.ration.</h3>
            </div>
            <p>At vero eos et accusamus et iusto odio dignissim cati cupiditate non provid qui officia deserunt mollitia animi,
              id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissim cati cupiditate non provid
              qui officia deserunt mollitia animi, id est laborum et dolorum fuga At vero eos et accusamus et iusto odio
              dignissim cati cupiditate non provid qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At
              vero eos et accusamus et iusto odio dignissim cati cupiditate non provid qui officia deserunt mollitia animi,
              id est laborum et dolorum fuga non provid qui officia deserunt mollitia animi, id est laborum et dolorum fuga
              non provid qui officia deserunt mollitia animi, id est laborum et dolorum fuga</p>

          </div>
        </div>
      </div>
    </div>
  </section>


  <footer data-aos="fade-up" data-aos-duration="1000">
    <p class="mb-0">&copy; 2018 e.ration. Developed with
      <i class="icon-heart"></i> for digital India.</p>
  </footer>











</body>