  <div class="home">
    <div class="row">
  <div class="col-md-7">
    <div class="landing-caption">
       <h1>e.ration.</h1>
    <p>Get your ration service online.</p>
    </div>
  </div>
  <div class="col-md-5">
    <div class="login">
      <div class="col-md-12 login-wrap">
       <h5 class="mb-3">Login.</h5>
       <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
            
            <div class="form-group">
              <input type="text" class="form-control input-lg" id="username" name="username"  formControlName="username"  placeholder="Enter username"  required   >
              <show-errors [control]="loginForm.controls.username"></show-errors>
            </div>
            <div class="form-group" >
              <input type="password" class="form-control input-lg" id="password" name="password"  formControlName="password" placeholder="Password" required  >
              <show-errors [control]="loginForm.controls.password"></show-errors>
            </div>
            <div class="form-group">
                <a  [routerLink]="['/register']">Register</a>
              <button type="submit" class="btn btn-primary pull-right">Submit</button>


              <!-- / <a  (click)="forgotPassword()" >Forgot password</a> -->
            </div>
           
                          <span *ngIf="Invalid" class="errorMessage alert alert-danger"><i class="fa fa-warning"></i> Invalid Username/Password</span>

          </form>
            </div>
    </div>
  </div>
  </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Enter Mobile Number</label>
        <input type="text" #opt name="otp" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="OtpSubmit(opt)">Submit</button>
      </div>
    </div>
  </div>
</div>
