  <div class="home">
    <div class="row">
  <div class="col-md-7">
    <div class="landing-caption">
       <h1>e.ration.</h1>
    <p>Get your ration service online.</p>
    </div>
  </div>
  <div class="col-md-5">
    <div class="login">
      <div class="col-md-12 login-wrap">
       <h5 class="mb-3">Login.</h5>
       <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
            
            <div class="form-group">
              <input type="text" class="form-control input-lg" id="username" name="username"  formControlName="username"  placeholder="Enter username"  required   >
              <show-errors [control]="loginForm.controls.username"></show-errors>
            </div>
            <div class="form-group" >
              <input type="password" class="form-control input-lg" id="password" name="password"  formControlName="password" placeholder="Password" required  >
              <show-errors [control]="loginForm.controls.password"></show-errors>
            </div>
            <div class="form-group">
                <a  [routerLink]="['/register']">Register</a> / <a href="#">Forgot password</a>
              <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>
    
                          <span *ngIf="Invalid" class="errorMessage alert alert-danger"><i class="fa fa-warning"></i> Invalid Username/Password</span>

          </form>
            </div>
    </div>
  </div>
  </div>
</div>

