<div class="container text-center">
  <div class="row ">
      <div class="col-md-5 col-md-offset-6 col-sm-6 col-sm-offset-3 well login-panel">
          <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)" class="login">
            
            <div class="form-group">
              <input type="text" class="form-control input-lg" id="username" name="username"  formControlName="username"  placeholder="Enter username"  required   >
              <show-errors [control]="loginForm.controls.username"></show-errors>
            </div>
            <div class="form-group" >
              <input type="password" class="form-control input-lg" id="password" name="password"  formControlName="password" placeholder="Password" required  >
              <show-errors [control]="loginForm.controls.password"></show-errors>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default btn-lg btn-block btn-success">Submit</button>
              <span *ngIf="Invalid" class="errorMessage">Invalid Username/Password</span>
            </div>
            <div class="form-group last-row">
              <a  [routerLink]="['/register']">Register</a>
              <a  (click)="forgotPassword()" class="pull-right">Forgot password</a>
            </div>
          </form>
      </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Enter Mobile Number</label>
        <input type="text" #opt name="otp" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="OtpSubmit(opt)">Submit</button>
      </div>
    </div>
  </div>
</div>