
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-primary" *ngIf="isLogged">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="role=='dealer'">
          <a class="nav-link" [routerLink]="['/dealer']">
            <span>View Consumer </span>
          </a>
        </li>
        <li class="nav-item" *ngIf="role=='central'">
          <a class="nav-link" [routerLink]="['/central']">
            <span>View Dealer </span>
          </a>
        </li>
        <li class="nav-item" *ngIf="role=='central'">
          <a class="nav-link" [routerLink]="['/addDealer']">
            <span>Add Dealer </span>
          </a>
        </li>
        <li class="nav-item" *ngIf="role=='consumer'">
            <a class="nav-link" [routerLink]="['/createrequest']">
              <span>Request</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="role=='dealer'">
              <a class="nav-link" [routerLink]="['/viewrequest']">
                <span>View Requests</span>
              </a>
            </li>
        <li class="nav-item" >
            <a class="nav-link" [routerLink]="['/viewreport']">
              <span>View Report</span>
            </a>
          </li>
        <li class="nav-item dropdown  ml-auto">
            <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{name}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
              <a class="dropdown-item" (click)="Logout()">Logout</a>
            
            </div>
          </li>
      </ul>
      
    </div>
  </nav>
  <div class="container-fluid" style="margin-top:70px;">
<router-outlet></router-outlet>
</div>