<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5>Products</h5>
    </div>
    <div class="card-block">
      <div  class="">
        
        <form novalidate #myForm="ngForm">
        <kendo-grid [data]="ProductList"   (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
        (save)="saveHandler($event)" (remove)="removeHandler($event)"    (add)="addHandler($event,myForm)">
        <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand type="button">Add new</button>
        </ng-template>
          <kendo-grid-column field="city" title="City" >
              <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-isNew="isNew">
                
                  <kendo-dropdownlist *ngIf="isNew" name="month" [data]="city" [(ngModel)]="dataItem.city"  required>
                    </kendo-dropdownlist>
                    <span *ngIf="!isNew">{{dataItem.city}}</span>
              </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="kerosene" title="Kerosene(kg)">
              <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                  <input type="number" min="0" max="999999" [(ngModel)]="dataItem.kerosene" name="kerosene" class="k-textbox" required/>
              </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="sugar" title="Sugar(kg)">
              <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                  <input type="number" min="0" max="999999"  [(ngModel)]="dataItem.sugar" name="sugar" class="k-textbox" required/>
              </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="rice" title="Rice(kg)">
              <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                  <input type="number" min="0" max="999999" [(ngModel)]="dataItem.rice" name="rice" class="k-textbox" required/>
              </ng-template>
          </kendo-grid-column>
          <kendo-grid-command-column title="Action" width="220">
              <ng-template kendoGridCellTemplate let-isNew="isNew">
                  <button kendoGridEditCommand class="k-primary">Edit</button>
                  <button kendoGridRemoveCommand>Remove</button>
                  <button kendoGridSaveCommand [disabled]="myForm.invalid || myForm.pristine">{{ isNew ? 'Add' : 'Update' }}</button>
                  <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
              </ng-template>
          </kendo-grid-command-column>
          </kendo-grid>
          </form>
      </div>
    </div>
  </div>
</div>