<div class="container-fluid" style="margin-top:5%;">
  <div class="card">
    <div class="card-header">
      <h4>Profile</h4>
    </div>
    <div class="card-block">
      <form [formGroup]="form" (ngSubmit)="submitForm(form.value)" >
        <div class="row">
          <div class="col-3">
            <label for="example-text-input" class="col-form-label">User Name</label>
            <input class="form-control" type="text" name="username" formControlName="username" required>
            <show-errors [control]="form.controls.username"></show-errors>
          </div>
          <div class="col-3">
            <label for="example-text-input" class=" col-form-label">First Name</label>
            <input class="form-control" type="text" name="firstname" formControlName="firstname" required>
            <show-errors [control]="form.controls.firstname"></show-errors>
          </div>
          <div class="col-3">
            <label for="example-text-input" class="col-form-label">Last Name</label>
            <input class="form-control" type="text" name="lastname" formControlName="lastname" required>
            <show-errors [control]="form.controls.lastname"></show-errors>
          </div>
          <div class="col-3">
              <label for="example-text-input" class=" col-form-label">Mobile No</label>
              <input class="form-control" type="number" name="mobile" formControlName="mobile" required maxlength="10" >
              <show-errors [control]="form.controls.mobile"></show-errors>
            </div>
          <div class="col-3">
            <label for="example-text-input" class=" col-form-label">Adhar Number</label>
            <input class="form-control" type="text" name="adharno" formControlName="adharno" required >
            <show-errors [control]="form.controls.adharno"></show-errors>
          </div>

          <div class="col-3">
              <label for="example-text-input" class=" col-form-label">Ration Number</label>
              <input class="form-control" type="text" name="rationno" formControlName="rationno" required >
              <show-errors [control]="form.controls.rationno"></show-errors>
            </div>
            <div class="col-3">
                <label for="example-text-input" class=" col-form-label">City</label>
                <span *ngIf="!isCityUpdate"><br/>{{model.city}}</span>
                <input *ngIf="isCityUpdate" class="form-control" type="text" name="city" formControlName="city" required >
                <show-errors [control]="form.controls.city"></show-errors>
              </div>
         
          <div class="form-group col-12" style="margin-top:10px;">
              <button type="submit" class="btn btn-default btn-lg  btn-success">Submit</button>
              <span *ngIf="Invalid" class="errorMessage"> Username already exist</span>
            </div>
        </div>
      </form>
    </div>

  </div>