body {
	font-size: 13px;
}


.errorMessage {
        color: #fff;
    background: #f44336;
    width: 100%;
    padding: 1px 6px;
    margin-bottom: 10px;
    font-size: 10px;
}
.error-desc{
    display: inline-block;
    width: 100%;
    margin-top: 100px;
    padding: 5px;
    color: #fff;
    background: #f44336;
    border-radius: 2px;
}


.dropdown-menu-right {
	right: 0;
	left: auto;
}
.productList {
	margin-top: 50px;
}
.inline {
	margin-top: 35px;
}


.btn-primary{
       background: #007bff;
    border-color: #007bff;
    border-radius: 2px;
    box-shadow: none;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{
       background: #007bff;
    border-color: #007bff;
    border-radius: 2px;
    box-shadow: none;
    opacity:0.7;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .15rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
   color: #495057;
    background-color: #fff;
    border-color: rgb(0, 123, 255);
    outline: 0;
    box-shadow: 0 0 0 0.3rem rgba(0, 123, 255,0.1);
}

.show .dropdown-menu {
        display: block;
    margin-top: 9px;
    border-radius: 1px;
    border: 1px solid #eee;
    font-size: 12px;
}
.dropdown-item {
    color: #999 !important;
}

.dropdown-item:last-child{
    border:0;
} 

/* Menu */
nav.navbar {
    background-color: #007bff !important;
}
nav.navbar .navbar-brand {
    font-weight:900;
    font-size:2em;
    line-height:1;
}
nav.navbar .navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 400;
    font-size: 1em;
    padding: 6px 20px;
    text-transform: uppercase;
    padding-top: 12px;
}
nav.navbar .navbar-nav .nav-link i {
    margin-right:10px;
}
nav.navbar .dropdown-toggle::after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107";
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    border: 0;
}


.container-x {
    margin-top: 100px;
}

.container-x .card {
    border:0;
}
.container-x .card-header {
    background: transparent;
    border: 0;
    padding-left:0;
}
.container-x .card-header h5 {
    font-size:2em;
    font-weight:700;
}

.k-grid td {
    color:#999;
}


.k-grid-header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px !important;
}

.nav-item.dropdown {
    cursor: pointer;
}

.k-command-cell .btn {
    cursor: pointer;
background-color: rgba(225, 0, 255, 0.1);
    color: #e100ff;
}

.k-block ::selection, .k-widget ::selection {
    background-color: rgba(225, 0, 255, 0.1) !important;
    color: #e100ff  !important;
}

.dropdown.show:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    bottom: -9px;
    right: 0;
    z-index: 999;
}

button.k-button {
        background: rgba(0, 123, 255, 0.1) !important;
    color: #007bff !important;
    border: 0;
    font-size: 12px;
}